@{
    Layout = "";
}
@model IEnumerable<PPcore.Models.course_type>


<table class="table table-striped table-bordered table-hover dataTablesMod" id="a_table">
    <thead>
        <tr>
            <th style="width:15px;">ลำดับ</th>
            <th style="display:none">@Html.DisplayNameFor(model => model.id)</th>
            <th style="width:150px;">@Html.DisplayNameFor(model => model.ctype_code)</th>
            <th>@Html.DisplayNameFor(model => model.ctype_desc)</th>
            <th style="width:50px;">@Html.DisplayNameFor(model => model.x_status)</th>
        </tr>
    </thead>
    <tbody>
        @{ var countOrder = 0;}
        @foreach (var item in Model)
        {
            countOrder++;
            <tr>
                <td style="width:15px;">
                    @countOrder
                </td>
                <td style="display:none">@Html.DisplayFor(modelItem => item.id)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.ctype_code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ctype_desc)
                </td>
                <td>
                    @Html.x_status_text(item.x_status)
                </td>
            </tr>
        }
    </tbody>
</table>
