@model IEnumerable<PPcore.ViewModels.project.project_supporterViewModel>
@{
    Layout = null;
}

<table class="table table-striped table-bordered table-hover" id="a_table">
    <thead>
        <tr>
            <th style="width:15px;">ลำดับ</th>
            <th style="display:none">@Html.DisplayNameFor(model => model.project.id)</th>
            <th style="width:70px;">@Html.DisplayNameFor(model => model.project.project_code)</th>
            <th style="width:150px;">@Html.DisplayNameFor(model => model.project.project_desc)</th>
            <th style="width:70px;">@Html.DisplayNameFor(model => model.project.project_date)</th>
            <th style="width:70px;">@Html.DisplayNameFor(model => model.project.project_approve_date)</th>
            <th>@Html.DisplayNameFor(model => model.support_budget)</th>
            <th>@Html.DisplayNameFor(model => model.project.project_manager)</th>
            <th>@Html.DisplayNameFor(model => model.project.target_member_join)</th>
            <th>@Html.DisplayNameFor(model => model.project.active_member_join)</th>
            <th>@Html.DisplayNameFor(model => model.project.passed_member)</th>
            <th style="width:50px;">@Html.DisplayNameFor(model => model.project.x_status)</th>
        </tr>
    </thead>
    <tbody>
        @{ var countOrder = 0;}
        @foreach (var item in Model)
        {
            countOrder++;
            <tr>
                <td style="width:15px;">
                    @countOrder
                </td>
                <td style="display:none">@Html.DisplayFor(modelItem => item.project.id)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.project.project_code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.project.project_desc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.project.project_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.project.project_approve_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.support_budget)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.project.project_manager)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.project.target_member_join)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.project.active_member_join)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.project.passed_member)
                </td>
                <td>@Html.x_status_text(item.project.x_status)</td>
            </tr>
        }
    </tbody>
</table>

