@model PPcore.Models.album

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12" style="padding-top:15px;">
            <table><tr><td><h4 class="txt-color-blue">ภาพกิจกรรม</h4></td></tr></table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-blue">
                <div class="panel-heading">
                    <div class="pull-left" style="padding-top:5px;">ภาพกิจกรรม</div>
                    <div class="pull-right" style="margin-top:-2px;">
                        <button id="btnShare" class="btn btn-default btn-panel-yellow" onclick="shareAlbum('@ViewBag.album_code', '@Model.album_name');">&nbsp;<i class="fa fa-fbmod-square" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;แชร์ภาพที่เลือก&nbsp;&nbsp;</button>&nbsp;&nbsp;&nbsp;
                        <button id="btnBack" class="btn btn-default btn-panel-yellow" onclick="location.href='@Url.Action("Index", "albums")'">&nbsp;<i class="fa fa-reply" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;กลับ&nbsp;&nbsp;</button>
                    </div>
                </div>


                <div class="panel-body">


                    <div class="well">
                        <div class="row">
                            <div class="col-md-1"><label asp-for="album_name" class="control-label pull-right"></label></div>
                            <div class="col-md-11">@Model.album_name</div>
                        </div>
                        <div class="row">
                            <div class="col-md-1"><label asp-for="album_desc" class="control-label pull-right"></label></div>
                            <div class="col-md-11">@Model.album_desc</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div id="albumPanel" class="well" style="padding-left:10px;padding-top:0px;padding-bottom:10px;">
                            
                                
                                <div id="isMarkAll" style="display:none">0</div>
                                <div class="photo-mark" style="position:relative;width:100%" onclick="markAllPhoto();">
                                    &nbsp;<br />&nbsp;
                                    <div style="position:absolute;top:0px;right:3px;width:120px;">
                                        <div style="position:absolute;left:5px;top:8px;"><div id="markAllPhoto" aria-hidden="true" style="font-size:28px;"><i class="fa fa-square-o" aria-hidden="true"></i></div></div>
                                        <div style="position:absolute;left:35px;top:15px;"><div style="font-size:16px;">เลือกทั้งหมด</div></div>
                                    </div>
                                    <br />
                                </div>
                                    
                            
                            
                            </div>
                        </div>
                    </div>


                </div>












                </div>





            </div>
        </div>


    </div>

<!-- modal -->
<div id="changeDescModal" class="modal fade modalForm1" tabindex="-1" role="dialog" aria-labelledby="changeDescModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div id="changeDescModalHeader" class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="vertical-align:middle;top:15px">&times;</button>
                <h4 class="modal-title" id="changeDescModalLabel" style="vertical-align:middle;">แก้ไขคำอธิบาย</h4>
            </div>
            <div class="modal-body container-fluid">


                <div class="form-horizontal">
                    <div id="changeDescImageCode" style="display:none"></div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">คำอธิบาย</label>
                        <div class="col-md-9">
                            <textarea id="changeDescText" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-success" onclick="changeDescSave();">บันทึก</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>
<!-- /.modal -->


@section Scripts {
<script>
  window.fbAsyncInit = function() {
    FB.init({
        appId: '@ViewBag.appId',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

    <script>

        $(document).ready(function () {
            //$.datepicker.regional['th'] = {
            //    dateFormat: 'dd MM yy', changeMonth: true, changeYear: true, constrainInput: true,
            //    yearRange: "-100:+0", yearOffSet: 543,beforeShow:dateDefault
            //};
            $.datepicker.regional['th'] = {
                dateFormat: 'dd-mm-yy', changeMonth: true, changeYear: true, constrainInput: true,
                yearRange: "-100:+0", yearOffSet: 543, beforeShow: dateDefault
            };
            $.datepicker.setDefaults($.datepicker.regional['th']);
            $("#album_date").datepicker($.datepicker.regional["th"]);

            if ("@ViewBag.FormAction" == "Create") {
                $("#album_code").val('@ViewBag.album_code');
            }

            //e.preventDefault();

            $.ajax({
                async:false,
                type: "GET",
                url: "@Url.Action("ListAlbumPhoto", "albums", new {albumCode=ViewBag.album_code})",
                success: function (resp) {
                    resp = JSON.parse(resp);
                    /**
                    for (var i = 0; i < resp.length; i++) {
                        var imgblock = '<div class="img-thumbnail" style="height:300px;width:250px;margin-top:10px;margin-left:15px;margin-right:15px;">';
                        imgblock += '<img class="img-responsive center-block" style="height:210px" src="/' + resp[i].filePath + '" />';
                        var desc = "";
                        if (resp[i].image_desc != "") {
                            if (resp[i].image_desc.length > 25) {
                                desc = resp[i].image_desc.substring(0, 25) + '...';
                            } else { desc = resp[i].image_desc; }
                        } else { desc = "&nbsp;"; }
                        var idSave = "desc" + resp[i].image_code;
                        imgblock += '<div id="' + idSave + '" class="btn btn-default center-block btn-photo-blue" style="margin-top:5px;width:100%" onclick="changeDesc(\'' + resp[i].image_code + '\',\'' + resp[i].image_desc + '\');">' + desc + '</div>';
                        imgblock += '<a id="btnShareOne" class="btn btn-block btn-social btn-facebook" style="margin-top:5px;" onclick="sharePhoto(\'' + resp[i].albumCode + '\',\'' + resp[i].imageCode + '\',\'' + resp[i].fileName + '\',\'' + resp[i].albumName + '\');"><span class="fa fa-facebook"></span> Share</a>';

                        imgblock += '</div>';

                        $('#albumPanel').append(imgblock);

                    }
                    **/
                    for (var i = 0; i < resp.length; i++) {
                        var imgblock = '<div id="' + resp[i].image_code + '" class="img-thumbnail" style="position:relative;height:340px;width:250px;margin-top:10px;margin-left:15px;margin-right:15px;">';
                        var idOverlay = "overlay" + resp[i].image_code;
                        imgblock += '<div id="' + idOverlay + '" class="photo-wait" style="display:none;"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></div>';
                        var idIsMark = "ismark" + resp[i].image_code; //var idImageCode = "ic" + resp[i].image_code;
                        imgblock += '<div id="' + idIsMark + '" style="display:none">0</div><div id="imc" style="display:none">' + resp[i].image_code + '</div>';
                        imgblock += '<div class="row" style="position:relative;">&nbsp;<br/>&nbsp;';
                        var idMark = "mark" + resp[i].image_code;
                        imgblock += '<div class="col-xs-6" style="position:absolute;top:0px;left:10px;"><div class="photo-mark" id="' + idMark + '" aria-hidden="true" style="font-size:25px;" onclick="markPhoto(\'' + resp[i].image_code + '\');"><i class="fa fa-square-o" aria-hidden="true"></i></div></div>';
                        //imgblock += '<div class="col-xs-6" style="position:absolute;top:-2px;left:210px;"><div class="photo-delete" aria-hidden="true" style="font-size:25px;" onclick="deletePhoto(\'' + resp[i].albumCode + '\',\'' + resp[i].image_code + '\');"><i class="fa fa-times" aria-hidden="true"></i></div></div>';
                        imgblock += '</div>';
                        imgblock += '<img class="img-responsive center-block" style="height:210px" src="/' + resp[i].filePath + '" />';
                        var desc = "";
                        if (resp[i].image_desc != "") {
                            if (resp[i].image_desc.length > 25) {
                                desc = resp[i].image_desc.substring(0, 25) + '...';
                            } else { desc = resp[i].image_desc; }
                        } else { desc = "&nbsp;"; }

                        var idDesc2 = "desc2" + resp[i].image_code;
                        imgblock += '<div id="' + idDesc2 + '" style="display:none">' + resp[i].image_desc + '</div>';
                        var idDesc = "desc" + resp[i].image_code;
                        imgblock += '<div id="' + idDesc + '" class="btn btn-default center-block btn-photo-blue" style="margin-top:5px;width:100%" onclick="changeDesc(\'' + resp[i].image_code + '\');">' + desc + '</div>';
                        imgblock += '<a id="btnShareOne" class="btn btn-block btn-social btn-facebook" style="margin-top:5px;" onclick="sharePhoto(\'' + resp[i].albumCode + '\',\'' + resp[i].image_code + '\',\'' + resp[i].fileName + '\',\'' + resp[i].albumName + '\');"><span class="fa fa-facebook"></span> Share</a>';


                        imgblock += '</div>'; //console.log(imgblock);

                        $('#albumPanel').append(imgblock);
                    }
                }
            });
        });
        $('#album_dateButton').click(function () {
            $('#album_date').datepicker("show");
        });
        function dateDefault() {
            if ($("#album_date").val() == "") { $("#album_date").datepicker("setDate", new Date()); }
        }
        function temp() {
            $.ajax({
                async:true,
                type: "GET",
                url: "@Url.Action("SharePhoto", "albums")" + "?albumCode="+albumCode+"&imageCode="+imageCode+"&fileName="+fileName,
                success: function (resp) {
                    console.log(resp);
                    resp = JSON.parse(resp);

                }
            });

            FB.login(function () {
                FB.api('/me/feed', 'post', { message: 'Hello, world!' });
            }, { scope: 'publish_actions' });


            //Here is that bad idea with requests in every cycle
            FB.api('/' + albums[i].id + '/photos?access_token=' + FB.getAuthResponse().accessToken, function (response) {
                if (response.error) {
                    alert(response.error);
                }
                else {
                    var photo = response.data;
                    var photoHere = "<img src='" + photo[i].picture + "'>";
                }
            });
            //End of bad idea

            FB.login(function (resp) {
                FB.api('/me/albums', function (response) {
                    ab = response.data;
                    var albumsString = "";
                    var i = 0;
                    for (i = 0; i < ab.length; i++) {

                        console.log('album id: ' + ab[i].id);

                    }


                    console.log('Thanks for logging in, ' + response.paging + '!');
                });

            }, { scope: 'publish_actions,user_photos' });


            var postMSG = "Your message";
            var url = 'https://graph.facebook.com/albumID/photos?access_token=' + accessToken + "&message=" + postMSG;
            var imgURL = "http://farm4.staticflickr.com/3332/3451193407_b7f047f4b4_o.jpg";//change with your external photo url
            var formData = new FormData();
            formData.append("url", imgURL);

            $.ajax({
                url: url,
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST',

                success: function (data) {
                    alert("POST SUCCESSFUL");
                }
            });


            //Post to album
            FB.login(function (resp) {
                FB.api('/me/albums', 'post', { name: albumName }, function (response) {
                    console.log('albumid ' + response.id);
                    FB.api('/' + response.id + '/photos', 'post', {
                        message: 'photo description',
                        url: 'https://cdn.theatlantic.com/assets/media/img/photo/2015/11/images-from-the-2016-sony-world-pho/s01_130921474920553591/main_1500.jpg'
                    }, function (response) {

                        if (!response || response.error) {
                            console.log('Error occured');
                        } else {
                            console.log('Post ID: ' + response.id);
                        }

                    });
                });
            }, { scope: 'publish_actions,user_photos' });


        }


        function sharePhoto_old(albumCode, imageCode, fileName, albumName) {
            if (!window.accessToken) {
                FB.login(function (resp) {
                    if (resp.authResponse) {
                        var access_token = FB.getAuthResponse()['accessToken'];
                        console.log('Access Token = ' + access_token);
                        window.accessToken = access_token;
                        FB.api('/me', function (response) {
                            console.log('Good to see you, ' + response.name + '.');
                        });
                        sharePhotoAjax(access_token, albumCode, imageCode, fileName);
                    } else {
                        console.log('User cancelled login or did not fully authorize.');
                    }
                }, { scope: 'publish_actions,user_photos' });
            } else {
                sharePhotoAjax(window.accessToken, albumCode, imageCode, fileName);
            }

        }
        function sharePhotoAjax_old(access_token, albumCode, imageCode, fileName) {
            $.ajax({
                async:true,
                type: "GET",
                url: "@Url.Action("SharePhoto", "albums")" + "?access_token=" + access_token + "&albumCode=" + albumCode + "&imageCode=" + imageCode + "&fileName=" + fileName,
                success: function (resp) {
                    console.log(resp);
                    resp = JSON.parse(resp);
                }
            });
        }
        function sharePhoto(albumCode, imageCode, fileName, albumName) {
            var d2 = "desc2" + imageCode;
            var imageDesc = $("div[id='" + d2 + "']").text();
            var o = "overlay" + imageCode;
            $("div[id='" + o + "']").show();
            $.ajax({
                async:true,
                type: "GET",
                url: "@Url.Action("SharePhoto", "albums")" + "?albumCode=" + albumCode + "&imageCode=" + imageCode + "&imageDesc=" + imageDesc + "&fileName=" + fileName,
                success: function (resp) {
                    console.log(resp);
                    resp = JSON.parse(resp);
                    $("div[id='" + o + "']").hide();
                }
            });
        }

        function shareAlbum_old(albumCode, albumName) {
            $('#btnShare').prop('disabled', true);
            if (!window.accessToken) {
                FB.login(function (resp) {
                    if (resp.authResponse) {
                        var access_token = FB.getAuthResponse()['accessToken'];
                        console.log('Access Token = ' + access_token);
                        window.accessToken = access_token;
                        FB.api('/me', function (response) {
                            console.log('Good to see you, ' + response.name + '.');
                        });
                        shareAlbumAjax(access_token, albumCode, albumName);
                    } else {
                        console.log('User cancelled login or did not fully authorize.');
                    }
                }, { scope: 'publish_actions,user_photos' });
            } else {
                shareAlbumAjax(window.accessToken, albumCode, albumName);
            }

        }
        function shareAlbumAjax_old(access_token, albumCode, albumName) {
            $.ajax({
                async:true,
                type: "GET",
                url: "@Url.Action("ShareAlbum", "albums")" + "?access_token=" + access_token + "&albumCode=" + albumCode + "&albumName=" + albumName,
                success: function (resp) {
                    console.log(resp);
                    resp = JSON.parse(resp);
                    $('#btnShare').prop('disabled', false);
                },
                error: function(xhr, textStatus, error){
                    $('#btnShare').prop('disabled', false);
                    console.log(xhr.statusText);
                    console.log(textStatus);
                    console.log(error);
                }
            });
        }
        function shareAlbum(albumCode, albumName) {
            $('#btnShare').prop('disabled', true);
            var idIsMark = ""; var isMark = ""; var o = ""; var d2 = "";
            var aImageCode = new Array(); var aImageDesc = new Array();
            $('#albumPanel > div').each(function () {
                idIsMark = "ismark" + this.id;
                isMark = $("div[id='" + idIsMark + "']").text();
                if (isMark == 1) {
                    o = "overlay" + this.id;
                    $("div[id='" + o + "']").show();
                    aImageCode.push(this.id);
                    d2 = "desc2" + this.id;
                    aImageDesc.push($("div[id='" + d2 + "']").text());
                }
            });

            $.ajax({
                async:true,
                type: "GET",
                url: "/albums/ShareAlbum?albumCode=" + albumCode + "&albumName=" + albumName,
                success: function (resp) {
                    resp = JSON.parse(resp);
                    var albumId = resp.id; console.log("albumId " + albumId);
                    for (var i = 0; i < aImageCode.length; i++) {
                        console.log(aImageCode[i]);

                        $.ajax({
                            async:true,
                            type: "GET",
                            url: "/albums/SharePhotoToAlbum?albumId=" + albumId + "&albumCode=" + albumCode + "&imageCode=" + aImageCode[i] + "&imageDesc=" + aImageDesc[i],
                            success: function (resp) {
                                console.log(resp.imageCode);
                                //resp = JSON.parse(resp);
                                o = "overlay" + resp.imageCode;
                                $("div[id='" + o + "']").hide();
                            }
                        });

                    }
                },
                error: function(xhr, textStatus, error){
                console.log(xhr.statusText);
                console.log(textStatus);
                console.log(error);
                }
            });
            markAllPhoto();
            $('#btnShare').prop('disabled', false);
        }

        function testAPI() {
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me', function (response) {
                console.log('Successful login for: ' + response.name);
                console.log('Thanks for logging in, ' + response.name + '!');
            });
        }
        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }
        function statusChangeCallback(response) {
            console.log('statusChangeCallback');
            console.log(response);
            // The response object is returned with a status field that lets the
            // app know the current login status of the person.
            // Full docs on the response object can be found in the documentation
            // for FB.getLoginStatus().
            if (response.status === 'connected') {
                // Logged into your app and Facebook.
                testAPI();
            } else if (response.status === 'not_authorized') {
                // The person is logged into Facebook, but not your app.
                console.log('Please log into this app.');
            } else {
                // The person is not logged into Facebook, so we're not sure if
                // they are logged into this app or not.
                console.log('Please log into Facebook.');
            }
        }
        function changeDesc(imageCode) {
            $('#changeDescImageCode').val(imageCode);
            var d2 = "desc2" + imageCode;
            var imageDesc = $("div[id='" + d2 + "']").text();
            $('#changeDescText').val(imageDesc);
            $('#changeDescModal').modal({ backdrop: 'static', keyboard: false });
        }
        function changeDescSave() {
            var d = "desc" + $('#changeDescImageCode').val();
            var d2 = "desc2" + $('#changeDescImageCode').val();
            $.ajax({
                async: false,
                type: "GET",
                url: "/albums/ChangePhotoDesc?imageCode=" + $('#changeDescImageCode').val() + "&imageDesc=" + $('#changeDescText').val(),
                success: function (resp) {
                    if (resp != "") {
                        var desc;
                        if (resp.imageDesc.length > 25) {
                            desc = resp.imageDesc.substring(0, 25) + '...';
                        } else { desc = resp.imageDesc; }
                        $("div[id='" + d + "']").text(desc);
                        $("div[id='" + d2 + "']").text(resp.imageDesc);
                    }
                }
            });
            $('#changeDescModal').modal('toggle');
        }
        function markPhoto(imageCode) {
            var im = "ismark" + imageCode; var m = "mark" + imageCode;
            if ($("div[id='" + im + "']").text() == 0) {
                $("div[id='" + m + "']").html('<i class="fa fa-check-square-o" style="color:red;" aria-hidden="true"></i>');
                $("div[id='" + im + "']").text(1);
            } else {
                $("div[id='" + m + "']").html('<i class="fa fa-square-o" aria-hidden="true"></i>');
                $("div[id='" + im + "']").text(0);
            }
        }
        function markAllPhoto() {
            if ($("#isMarkAll").text() == 0) {
                $("#markAllPhoto").html('<i class="fa fa-check-square-o" style="color:red;" aria-hidden="true"></i>');
                var m = ""; var idIsMark = "";
                $('#albumPanel > div').each(function () {
                    var m = "mark" + this.id;
                    $("div[id='" + m + "']").html('<i class="fa fa-check-square-o" style="color:red;" aria-hidden="true"></i>');
                    idIsMark = "ismark" + this.id;
                    $("div[id='" + idIsMark + "']").text(1);
                });
                $('#isMarkAll').text(1);
            } else {
                $("#markAllPhoto").html('<i class="fa fa-square-o" aria-hidden="true"></i>');
                var m = ""; var idIsMark = "";
                $('#albumPanel > div').each(function () {
                    var m = "mark" + this.id;
                    $("div[id='" + m + "']").html('<i class="fa fa-square-o" aria-hidden="true"></i>');
                    idIsMark = "ismark" + this.id;
                    $("div[id='" + idIsMark + "']").text(0);
                });
                $("#isMarkAll").text(0);
            }
        }
    </script>
}
