@model PPcore.Models.ini_subdistrict

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ini_subdistrict</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.area_part)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.area_part)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dist_desc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dist_desc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rowversion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rowversion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.x_log)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.x_log)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.x_note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.x_note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.x_status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.x_status)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
