@model IEnumerable<PPcore.Models.album>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12" style="padding-top:15px;">
            <table><tr><td><h4 class="txt-color-blue">คลิปกิจกรรม</h4></td></tr></table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-blue">
                <div class="panel-heading">
                    <div class="pull-left" style="padding-top:5px;">คลิปกิจกรรม</div>
                    <div class="pull-right" style="margin-top:-2px;">
                        <button id="btnCreate" class="btn btn-default btn-panel-yellow" onclick="location.href='@Url.Action("Create", "videos")'">&nbsp;<i class="fa fa-file" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;สร้างอัลบั้ม&nbsp;&nbsp;&nbsp;</button>
                        <button id="btnEdit" class="btn btn-default btn-panel-yellow">&nbsp;<i class="fa fa-pencil-square-o" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;แก้ไขอัลบั้ม&nbsp;&nbsp;&nbsp;</button>
                        <button id="btnDelete" class="btn btn-default btn-panel-yellow">&nbsp;<i class="fa fa-eraser" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;ลบอัลบั้ม&nbsp;&nbsp;&nbsp;</button>
                        <button id="btnDetails" class="btn btn-default btn-panel-yellow">&nbsp;<i class="fa fa-file-text" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;ดูข้อมูลและแชร์วีดีโอ</button>
                    </div>
                </div>

                <!-- /.panel-heading -->
                <div style="position:absolute;left:250px;top:70px;"><span class="badge">จำนวนรายการทั้งหมด @ViewBag.countRecords รายการ</span></div>
                <div class="panel-body">
                    <div class="dataTable_wrapper" style="padding-right:10px;">
                        <table class="table table-striped table-bordered table-hover" id="dataTablesSimple">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.album_name)</th>
                                    <th style="display:none">@Html.DisplayNameFor(model => model.id)</th>
                                    <th>@Html.DisplayNameFor(model => model.album_desc)</th>
                                    <th>@Html.DisplayNameFor(model => model.album_date)</th>
                                    <th>@Html.DisplayNameFor(model => model.created_by)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.album_name)</td>
                                        <td style="display:none">@Html.DisplayFor(modelItem => item.id)</td>
                                        <td>@Html.DisplayFor(modelItem => item.album_desc)</td>
                                        <!-- <td>@Html.DisplayFor(modelItem => item.album_date)</td> -->
                                        <td>@String.Format("{0:dd MMMM yyyy}", item.album_date)</td>
                                        <td>@Html.DisplayFor(modelItem => item.created_by)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>




                    </div>
                </div>
                <!-- /.panel-body -->
            </div>

            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
        <!-- Modal Delete -->
        <div class="modal fade modalForm1" id="albumDeleteModal" tabindex="-1" role="dialog" aria-labelledby="albumModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id="albumModalHeader" class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="vertical-align:middle;top:15px">&times;</button>
                        <h4 class="modal-title" id="albumModalLabel" style="vertical-align:middle;"></h4>
                    </div>
                    <div class="modal-body container-fluid">
                        <div class="row">
                            <div class="col-md-3"><div class="pull-right">@Html.DisplayNameFor(model => model.album_name)</div></div>
                            <div id="albumDeleteName" class="col-md-9" style="color:orangered"></div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3"><div class="pull-right">@Html.DisplayNameFor(model => model.album_date)</div></div>
                            <div id="albumDeleteDate" class="col-md-9" style="color:orangered"></div>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-md-4"><button id="btnDeleteConfirm" class="btn btn-danger pull-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ยืนยัน&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></div>
                            <div class="col-md-4 col-md-offset-4">
                                <button id="albumDeleteCancel" class="btn btn-default" data-dismiss="modal">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ยกเลิก&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


@section Scripts {
    <script src="~/lib/bootstrap/js/modal.js"></script>
    <script>
        $(document).ready(function () {
            var tableMember = setDataTablesSimple();
            tableMember.$('tr:first').click();

            $('#btnEdit').on('click', function () {
                var data = tableMember.row('.selected').data();
                var url = '@Url.Action("Edit", "videos", new { id = "__id__" })';
                window.location.href = url.replace('__id__', data[1]);
            });

            $('#btnDelete').on('click', function () {
                var datarow = tableMember.row('.selected').data();
                $('#albumModalLabel').text('ยืนยันการลบอัลบั้ม');
                $('#albumDeleteName').text(datarow[0]);
                $('#albumDeleteDate').text(datarow[3]);
                $('#albumDeleteModal').modal({ backdrop: 'static', keyboard: false });
            });
            $('#btnDeleteConfirm').on('click', function () {
                var datarow = tableMember.row('.selected').data();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("Delete", "videos")" + "/" + datarow[1],
                    success: function (data) {
                        $('#albumDeleteModal').modal('hide');
                        window.location.href = '@Url.Action("Index", "videos")';
                    },
                    error: function (xhr, textStatus, error) {
                        console.log(xhr.statusText);
                        console.log(textStatus);
                        console.log(error);
                        $('#albumDeleteModal').modal('hide');
                        window.location.href = '@Url.Action("Index", "videos")';
                    }

                });
            });

            $('#btnDetails').on('click', function () {
                var data = tableMember.row('.selected').data();
                var url = '@Url.Action("Details", "videos", new { id = "__id__" })';
                window.location.href = url.replace('__id__', data[1]);
            });
        });

    </script>
}
