@model IEnumerable<PPcore.ViewModels.course_train_place.train_placeViewModel>
@{
    Layout = null;
}

<table class="table table-striped table-bordered table-hover" id="a_table">
    <thead>
        <tr>
            <th style="width:15px;">ลำดับ</th>
            <th style="display:none">@Html.DisplayNameFor(model => model.course_train_place.id)</th>
            <th style="width:150px;">@Html.DisplayNameFor(model => model.course_train_place.place_code)</th>
            <th>@Html.DisplayNameFor(model => model.place_desc)</th>
            <th style="width:150px;">@Html.DisplayNameFor(model => model.contactor)</th>
            <th>@Html.DisplayNameFor(model => model.contactor_detail)</th>
            <th style="width:150px;">@Html.DisplayNameFor(model => model.course_train_place.confirm_date)</th>
            <th style="width:150px;">@Html.DisplayNameFor(model => model.course_train_place.place_cost)</th>
            <th style="width:50px;">@Html.DisplayNameFor(model => model.course_train_place.x_status)</th>
        </tr>
    </thead>
    <tbody>
        @{ var countOrder = 0;}
        @foreach (var item in Model)
        {
            countOrder++;
            <tr>
                <td style="width:15px;">@countOrder</td>
                <td style="display:none">@Html.DisplayFor(modelItem => item.course_train_place.id)</td>
                <td>@Html.DisplayFor(modelItem => item.course_train_place.place_code)</td>
                <td>@Html.DisplayFor(modelItem => item.place_desc)</td>
                <td>@Html.DisplayFor(modelItem => item.contactor)</td>
                <td>@Html.DisplayFor(modelItem => item.contactor_detail)</td>
                <td>@Html.DisplayFor(modelItem => item.course_train_place.confirm_date)</td>
                <td>@Html.DisplayFor(modelItem => item.course_train_place.place_cost)</td>
                <td>@Html.x_status_text(item.course_train_place.x_status)</td>
            </tr>
        }
    </tbody>
</table>

