<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12" style="padding-top:15px;">
        </div>
    </div>
    <div class="panel panel-blue">
        <div class="panel-heading">
            <div class="pull-left" style="margin-top:3px;"><span>การตั้งค่า</span></div>
            @*<div class="pull-right" style="margin-top:-2px;">
                <button id="btnBack" class="btn btn-default btn-panel-yellow" onclick="location.href='@Url.Action("ManageRoles", "Security")'">&nbsp;<i class="fa fa-reply" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;กลับ&nbsp;&nbsp;</button>
            </div>*@
        </div>
        <div class="panel-body">

            <div style="float:left;width:350px;display:inline">
                <div class="panel @ViewBag.Color">
                    <div class="panel-heading">
                        <div class="row">
                            <div id="unameBox" class="col-xs-7" style="font-size:24px;">@ViewBag.UserName</div>
                        </div>
                    </div>
                    <a href="#" onclick="">
                        <div class="panel-footer">
                            <span class="pull-left">ชื่อที่ใช้ล็อกอิน: @ViewBag.LoginName</span><br/>
                            <span class="pull-left" id="emailBox">อีเมล: @ViewBag.EMail</span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>


            <div style="float:left;display:inline;padding-left:20px;width:65%">

                <div class="panel-group" id="accordion">

                    @if (@ViewBag.IsMember != 1)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"> <i class="fa fa-edit" aria-hidden="true"></i>&nbsp;เปลี่ยนชื่อที่ใช้แสดง</a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <form style="width:250px;margin-left:10px;margin-right:10px;">
                                        <div class="form-group input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-user"></i>
                                            </span>
                                            <input id="uname" type="text" class="form-control" placeholder="ชื่อที่ใช้แสดงใหม่" autocomplete="off" maxlength="100" data-val-required="" onkeyup="$('#unameMsg').text(''); $('#unameMsg').hide();" />
                                        </div>
                                        <span id="unameMsg" class="text-danger" style="display:none;margin-top:-45px;margin-left:270px;position:absolute"></span>
                                        <button type="button" id="btnChangeUName" onclick="changeUName();" class="btn btn-default btn-panel-yellow">&nbsp;<i class="fa fa-save " aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;บันทึก&nbsp;&nbsp;&nbsp;</button>
                                        <br />
                                    </form>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#collapse2" data-toggle="collapse" data-parent="#accordion"> <i class="fa fa-edit" aria-hidden="true"></i>&nbsp;เปลี่ยนรหัสผ่าน</a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <form style="width:250px;margin-left:10px;margin-right:10px;">
                                    <div class="form-group input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-key"></i>
                                        </span>
                                        <input id="upwdold" type="password" class="form-control" placeholder="รหัสผ่านเก่า" autocomplete="off" maxlength="100" onkeyup="$('#upwdoldMsg').text(''); $('#upwdoldMsg').hide();" />
                                    </div>
                                    <span id="upwdoldMsg" class="text-danger" style="display:none;margin-top:-45px;margin-left:270px;position:absolute"></span>
                                    <hr/>
                                    <div class="form-group input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-key"></i>
                                        </span>
                                        <input id="upwd" type="password" class="form-control" placeholder="กำหนดรหัสผ่านใหม่" autocomplete="off">
                                    </div>
                                    <span id="upwdMsg" class="text-danger" style="display:none;margin-top:-45px;margin-left:270px;position:absolute"></span>
                                    <div class="form-group input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-key"></i>
                                        </span>
                                        <input id="upwdrepeat" type="password" class="form-control" placeholder="รหัสผ่านอีกครั้ง" autocomplete="off">
                                    </div>
                                    <span id="upwdrepeatMsg" class="text-danger" style="display:none;margin-top:-45px;margin-left:270px;position:absolute"></span>
                                    <button type="button" id="btnChangePwd" onclick="changePwd();" class="btn btn-default btn-panel-yellow">&nbsp;<i class="fa fa-save " aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;บันทึก&nbsp;&nbsp;&nbsp;</button>
                                    <br />
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"> <i class="fa fa-edit" aria-hidden="true"></i>&nbsp;เปลี่ยนข้อมูลที่ใช้ในการติดต่อ</a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <form style="width:250px;margin-left:10px;margin-right:10px;">
                                    <div class="form-group input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                        <input id="email" type="text" class="form-control" placeholder="อีเมล" autocomplete="off" maxlength="100" onkeyup="$('#emailMsg').text(''); $('#emailMsg').hide();" />
                                    </div>
                                    <span id="emailMsg" class="text-danger" style="display:none;margin-top:-45px;margin-left:270px;position:absolute"></span>




                                    <button type="button" id="btnChangeContact" onclick="changeContact();" class="btn btn-default btn-panel-yellow">&nbsp;<i class="fa fa-save " aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;บันทึก&nbsp;&nbsp;&nbsp;</button>
                                    <br />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <br /><br />
            </div>


        </div>






        <div>




        </div>
    </div>



</div>

<!-- Modal -->
<div class="modal fade modalForm1" id="a_modal" tabindex="-1" role="dialog" aria-labelledby="a_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="a_header" class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="vertical-align:middle;top:15px">&times;</button>
                <h4 class="modal-title" id="a_label" style="vertical-align:middle;"></h4>
            </div>
            <div class="modal-body container-fluid">
                <div id="a_body"></div>
                <br /><br />
                <div class="pull-right" style="margin-top:-2px;">
                    <div class="btn btn-default btn-panel-yellow" data-dismiss="modal" aria-hidden="true">&nbsp;&nbsp;&nbsp;ปิด&nbsp;&nbsp;&nbsp;</div>
                </div>
            </div>

        </div>

    </div>


</div>
<!-- /Modal -->

<!-- Modal confirm -->
<div id="c_modal" class="modal fade modalForm1" tabindex="-1" role="dialog" aria-labelledby="confirm_Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="c_header" class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="vertical-align:middle;top:15px">&times;</button>
                <h4 class="modal-title" id="c_Label" style="vertical-align:middle;">ยืนยันการลบกลุ่มผู้ใช้</h4>
            </div>
            <div class="modal-body container-fluid">
                <div>ยืนยันการลบกลุ่มผู้ใช้?</div>
                <br/>
                <div>กลุ่มผู้ใช้: <span id="c_rolename" style="color:red"></span></div><br/>
                <hr/>
                <div class="row">
                    <div class="col-md-4"><button id="btnConfirm" class="btn btn-panel-yellow pull-right" onclick="roleDelete();">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ยืนยัน&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></div>
                    <div class="col-md-4 col-md-offset-4">
                        <button id="btnCancel" class="btn btn-default" data-dismiss="modal">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ยกเลิก&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Modal confirm -->

@section Scripts {
    <script src="~/lib/bootstrap/js/modal.js"></script>
    <script>
        $(document).ready(function () {


        });
        function changeUName() {
            $('#btnChangeUName').html('&nbsp;<i class="fa fa-refresh fa-spin" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;บันทึก&nbsp;&nbsp;&nbsp;');
            if ($('#uname').val().trim()) {
                $.ajax({
                    async: true,
                    type: "POST",
                    url: "@Url.Action("SettingsDisplayName", "Security")",
                    data: {
                        uname: $('#uname').val().trim(),
                    },
                success: function (data) {
                    if (data.result != "success") {
                        $('#a_label').text('ตรวจพบความผิดพลาด');
                        $('#a_body').text('ตรวจพบความผิดพลาด กรุณาติดต่อผู้ดูแลระบบ');
                        $('#a_modal').modal({ backdrop: 'static', keyboard: false });
                    }
                    else
                    {
                        $('#unameBox').text(data.uname);
                        $('#_displayname_').text(data.uname);
                    }
                    $('#uname').val('');
                    $('#btnChangeUName').html('&nbsp;<i class="fa fa-save" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;บันทึก&nbsp;&nbsp;&nbsp;');
                }
            });
            } else {
                $('#unameMsg').text('กรุณากรอกข้อมูล'); $('#unameMsg').show();
            }
        }
        function changePwd() {
            $('#btnChangePwd').html('&nbsp;<i class="fa fa-refresh fa-spin" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;บันทึก&nbsp;&nbsp;&nbsp;');
            var upwdold = $('#upwdold').val().trim(); var upwd = $('#upwd').val().trim(); var upwdrepeat = $('#upwdrepeat').val().trim();
            if (!upwdold) { $('#upwdoldMsg').text('กรุณากรอกข้อมูล'); $('#upwdoldMsg').show(); }
            if (!upwd) { $('#upwdMsg').text('กรุณากรอกข้อมูล'); $('#upwdMsg').show(); }
            if (!upwdrepeat) { $('#upwdrepeatMsg').text('กรุณากรอกข้อมูล'); $('#upwdrepeatMsg').show(); }
            if (upwdold && upwd && upwdrepeat) {
                if (upwd != upwdrepeat) {
                    $('#upwdMsg').text('กรุณาตรวจสอบรหัสผ่านอีกครั้ง'); $('#upwdMsg').show();
                    $('#upwdrepeatMsg').text('กรุณาตรวจสอบรหัสผ่านอีกครั้ง'); $('#upwdrepeatMsg').show();
                }
                else
                {
                    $.ajax({
                        async: true,
                        type: "POST",
                        url: "@Url.Action("SettingsChangePassword", "Security")",
                        data: {
                        upwdold: upwdold,
                        upwdnew: upwd,
                        },
                        success: function (data) {
                            if (data.result == "success") 
                            {
                                $('#upwdold').val('');$('#upwd').val('');$('#upwdrepeat').val('');
                                $('#a_label').text('ระบบได้ทำการเปลี่ยนรหัสผ่านเรียบร้อย');
                                $('#a_body').html('<span style="color:green">ระบบได้ทำการเปลี่ยนรหัสผ่านเรียบร้อย</span>');
                                $('#a_modal').modal({ backdrop: 'static', keyboard: false });
                            }
                            else if (data.result == "wrong")
                            {
                                $('#a_label').text('รหัสผ่านของท่านไม่ถูกต้อง');
                                $('#a_body').html('<span style="color:red">รหัสผ่านของท่านไม่ถูกต้อง</span>');
                                $('#a_modal').modal({ backdrop: 'static', keyboard: false });
                            }
                            else
                            {
                                $('#a_label').text('ตรวจพบความผิดพลาด');
                                $('#a_body').html('<span style="color:red">ตรวจพบความผิดพลาด กรุณาติดต่อผู้ดูแลระบบ</span>');
                                $('#a_modal').modal({ backdrop: 'static', keyboard: false });
                            }
                        }
                    });
                }
            }
            $('#btnChangePwd').html('&nbsp;<i class="fa fa-save" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;บันทึก&nbsp;&nbsp;&nbsp;');
        }
        function changeContact() {
            $('#btnChangeContact').html('&nbsp;<i class="fa fa-refresh fa-spin" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;บันทึก&nbsp;&nbsp;&nbsp;');
            var email = $('#email').val().trim();
            if (!email) { $('#emailMsg').text('กรุณากรอกข้อมูล'); $('#emailMsg').show(); }
            if (email) {
                $.ajax({
                    async: true,
                    type: "POST",
                    url: "@Url.Action("SettingsChangeContact", "Security")",
                    data: {
                        email: email,
                    },
                    success: function (data) {
                        if (data.result == "success") 
                        {
                            $('#email').val(''); $('#emailBox').text('อีเมล: '+data.email);
                            $('#a_label').text('ระบบได้ทำการเปลี่ยนข้อมูลการติดต่อเรียบร้อย');
                            $('#a_body').html('<span style="color:green">ระบบได้ทำการเปลี่ยนข้อมูลการติดต่อเรียบร้อย</span>');
                            $('#a_modal').modal({ backdrop: 'static', keyboard: false });
                        }
                        else
                        {
                            $('#a_label').text('ตรวจพบความผิดพลาด');
                            $('#a_body').html('<span style="color:red">ตรวจพบความผิดพลาด กรุณาติดต่อผู้ดูแลระบบ</span>');
                            $('#a_modal').modal({ backdrop: 'static', keyboard: false });
                        }
                    }
                });
            }
            $('#btnChangeContact').html('&nbsp;<i class="fa fa-save" aria-hidden="true" style="color:white;"></i>&nbsp;&nbsp;บันทึก&nbsp;&nbsp;&nbsp;');
        }
    </script>
}
